extends layout

block content
    img(src='/images/banner-final.png' alt='Banner' style='width: 100%; height: 100%;')
    h1= title
    p Lista de pacientes vazia!
    p Cadastre um paciente para visualizar a lista.
    a.btn.btn-primary(href='/pacientes/add') Cadastrar Paciente